<activities-edit></activities-edit>

<goal-calendar [data]="activityTrackingService.getDailyActivityCounts()" (itemClick)="onCalendarItemClick($event)"></goal-calendar>


<div fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div fxFlex="55" fxFlex.xs="45">
        <activities-actions></activities-actions>
    </div>
    <div fxFlex="45" fxFlex.xs="55">
        <day-display></day-display>
    </div>
</div>

<ul>
    <li class="text" *ngFor="let item of items | async">
        {{item.name}}
    </li>
</ul>
