<div class="row">    
    <div class="col">
        <button *ngFor="let activity of activityListingService.getActivities()" type="button" class="btn" 
            [ngClass]="{
                'btn-success':activity.weight > 0,
                'btn-warning': activity.weight >= -10 && activity.weight <= 0,
                'btn-danger':activity.weight < -10
            }"
            (click)="onActivityClick(activity)">
            {{activity.caption}}
        </button>
    </div>
    <div class="col">
        <day-display (activityDeleted)="onActivityDeleted($event)"></day-display>
    </div>
</div>
